<div class="mt-4 mb-4">
    <form method="get" action="trang-chu">
        <div class="form-group">
            <label for="search-input">Search</label>
            <input type="search" class="form-control" id="searchId" placeholder="Enter search" name="search" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>