<div class="mt-4 mb-4">
    <div class="row">
        <div class="col-lg-3">
            <div class="mb-4">
                <h3><b>Click bên dưới để tiếp tục xem phim!</b></h3>
            </div>
            <button class="btn btn-primary">Đăng Ký Xem Phim</button>
        </div>
        <div class="col-lg-9">
            <h2> {{video.name}} </h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>{{video.discription}}</p>
        </div>
    </div>
</div>